body {
    font-family: 'Montserrat', sans-serif;
}

#navigation nav ul {
    align-items:center;
    display:flex;
    flex-wrap:nowrap;
}

#navigation #logo {
    width:100%;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color:transparent;
    text-decoration:underline;
}

header.container .jumbotron {
    border-top-right-radius:0;
    border-top-left-radius:0;
}

h1 {
}

footer {
    background-color: #f5f5f5;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    margin-top:60px;
    margin-bottom:0;
    padding:1em;
}
footer p,
footer small {
    widows:3;
}
footer .fox {
    float:right;
    margin-bottom:1em;
    margin-left:1em;
}

img.rounded {
    border-radius:50%;
}


/* Support for .media */
.media {
    display: flex;
    align-items: flex-start;
}

.media .media-body {
    flex: 1;
}

.media > img {
    margin-right: 1rem;
}

/* Equal height support */
.archive {
    display: flex;
    align-items: stretch !important;
    flex-wrap: wrap;
}


/* Font Awesome Styles */
.theme-jcp-primary {
    --fa-primary-color: #9326b2;
    --fa-secondary-color: #ff5757;
}
.theme-jcp-secondary {
    --fa-primary-color: #9326b2;
    --fa-secondary-color: #c2cbff;
}

@media (min-width: 768px) {
    h1 {
        margin-top:0;
    }

    footer {
        text-align:center;
    }
}